@using PathFinder.ViewModels.JobViewModels;
@model IEnumerable<JobInfoViewModel>
@{
    ViewData["Title"] = "My Job Offers";
}

<div id="my-offers-main-container">
    <h2 id="my-offers-h2-title">My Job Offers</h2>

    @if (Model.Any())
    {
        <div id="my-offers-container">
            <div>
                @foreach (var job in Model)
                {
                    <div id="my-offers-inner-container">
                        <div id="my-offers-offer-info-container">
                            <h5 id="my-offers-h5-name">@job.Title</h5>
                            <p id="my-offers-info">
                                <strong id="my-offers-info">Mode:</strong> @job.JobType
                                <strong id="my-offers-info">Start:</strong> @job.Salary
                            </p>
                        </div>
                        <div id="my-offers-btn-container">
                            <a asp-area="" asp-route-id="@job.Id" asp-controller="Job" asp-action="Edit" class="my-offers-btn" id="my-offers-edit-view-details-btn">Edit</a>
                            <a asp-area="" asp-route-id="@job.Id" asp-controller="Job" asp-action="Delete" class="my-offers-btn" id="my-offers-delete-btn">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p class="text-center text-muted">You haven't posted any job offers yet.</p>
    }
</div>
