@using PathFinder.Data.Models.Enums;
@using static PathFinder.Common.ApplicationConstraints.CourseConstraints;
@model PathFinder.ViewModels.CourseViewModels.CourseDetailsViewModel;

@{
    ViewData["Title"] = "Details";
}

<div id="details-main-container">
    <div id="details-inner-container">
        <div id="details-svg-btn-and-title">
            <a id="svg-back-link" href="../">
                <svg id="svg-back-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" /></svg>
            </a>

            <h2 id="details-title">@Model.Name</h2>
        </div>

        <div id="details-info-container">
            <div class="details-info-box"><strong>Начин на провеждане:</strong> @Model.Mode</div>
            <div class="details-info-box"><strong>Начало:</strong> @Model.StartDate.ToString(StartDateDateTimeFormat)</div>
            <div class="details-info-box"><strong>Местоположение:</strong> @Model.Location</div>
            <div class="details-info-box"><strong>Край:</strong> @Model.EndDate.ToString(EndDateDateTimeFormat)</div>
        </div>

        <div id="details-course-price-container">
            <strong>Цена:</strong> @Model.Price лв.
        </div>

        <button id="course-details-enroll-btn">Запиши се</button>

        <div id="details-description">
            <div id="details-description-title">Описание</div>
            <p id="details-description-text">
                @Model.Description Курсът продължава @Model.CourseDuration в @Model.DurationInMinutes минути общо.
            </p>
        </div>

        <hr id="details-devider">

        @if (Model.Reviews.Count == 0)
        {
            <p id="no-reviews-text">Няма публикувани ревюта.</p>
        }
        else
        {
            <h1 id="reviews-title">
                Ревюта
            </h1>

            <div id="reviews-main-container">
                @foreach (var review in Model.Reviews)
                {
                    <div class="review-box">
                        <div id="reviews-publisher-and-date">
                            <h5 id="reviews-publisher-name">@review.Publisher</h5>
                            <h6 id="reviews-publisher-reviewDate">@review.ReviewDate</h6>
                        </div>

                        <p id="reviews-publisher-comment">@review.Comment</p>
                    </div>
                }
            </div>
        }
    </div>
</div>

