@using PathFinder.ViewModels.CourseViewModels;
@model IEnumerable<CourseInfoViewModel>

@{
    ViewData["Title"] = "My Course Offers";
}

<div id="my-offers-main-container">
    <h2 id="my-offers-h2-title">My Course Offers</h2>
    
    @if (Model.Any())
    {
        <div id="my-offers-container">
            <div>
                @foreach (var course in Model)
                {
                    <div id="my-offers-inner-container">
                        <div id="my-offers-offer-info-container">
                            <h5 id="my-offers-h5-name">@course.Name</h5>
                            <p id="my-offers-info">
                                <strong id="my-offers-info">Mode:</strong> @course.Mode |
                                <strong id="my-offers-info">Start:</strong> @course.StartDate |
                                <strong id="my-offers-info">End:</strong> @course.EndDate |
                                <strong id="my-offers-info">Duration:</strong> @course.CourseDurationInWeeks weeks |
                                <strong id="my-offers-info">Price:</strong> $@course.MonthlyPrice/month
                            </p>
                        </div>
                        <div id="my-offers-btn-container">
                            <a asp-area="" asp-route-id="@course.Id" asp-controller="Course" asp-action="Details" class="my-offers-btn" id="my-offers-edit-view-details-btn">View Details</a>
                            <a asp-area="" asp-route-id="@course.Id" asp-controller="Course" asp-action="Edit" class="my-offers-btn" id="my-offers-edit-view-details-btn">Edit</a>
                            <a asp-area="" asp-route-id="@course.Id" asp-controller="Course" asp-action="Delete" class="my-offers-btn" id="my-offers-delete-btn">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p class="text-center text-muted">You haven't posted any course offers yet.</p>
    }
</div>

