@using PathFinder.ViewModels.CourseViewModels;
@model IEnumerable<CourseInfoViewModel>

@{
    ViewData["Title"] = "My Course Offers";
}

<div id="my-offers-main-container">
    <h2 id="my-offers-h2-title">Моите оферти</h2>
    
    @if (Model.Any())
    {
        <div id="my-offers-container">
            <div>
                @foreach (var course in Model)
                {
                    <div id="my-offers-inner-container">
                        <div id="my-offers-offer-info-container">
                            <h5 id="my-offers-h5-name">@course.Name</h5>
                            <p id="my-offers-info">
                                <strong id="my-offers-info">Начин на провеждане:</strong> @course.Mode |
                                <strong id="my-offers-info">Начало:</strong> @course.StartDate |
                                <strong id="my-offers-info">Край:</strong> @course.EndDate |
                                <strong id="my-offers-info">Продължителност:</strong> @course.CourseDurationInWeeks седмици |
                                <strong id="my-offers-info">Цена:</strong> $@course.Price
                            </p>
                        </div>
                        <div id="my-offers-btn-container">
                            <a asp-area="" asp-route-id="@course.Id" asp-controller="Course" asp-action="Edit" class="my-offers-btn" id="my-offers-edit-view-details-btn">Редактирай</a>
                            <a asp-area="" asp-route-id="@course.Id" asp-controller="Course" asp-action="Delete" class="my-offers-btn" id="my-offers-delete-btn">Изртий</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p class="text-center text-muted">Все още не си качил оферти.</p>
    }
</div>

